header .container nav {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin-left: 7vw;
    margin-right: 19vw;
}

header .container nav a {
    border-bottom: 2px solid transparent;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-out;
}

header .container nav a:hover {
    border-color: inherit;
}